<a href="{% url 'team_detail' player.team.id %}">back</a>
<h1>{{ player.name }}</h1>
<p>Team: <a href="{% url 'team_detail' player.team.id %}">{{ player.team.name }}</a></p>
<p>Salary: ${{ player.salary }}</p>
<p>Position: {{ player.position }}</p>
<p>College: {{ player.college }}</p>
<p>Years of Experience: {{ player.years_experience }}</p>
<a href="{% url 'edit_player' player.id %}">Edit</a>
<a href="{% url 'delete_player' player.id %}" onclick="return confirm('Are you sure you want to delete this player?');">Delete</a>