{% load static %}
{% load humanize %}
<head>
    <link rel="stylesheet" href="{% static 'css/team_detail.css' %}">
</head>
<a href="{% url 'team_list' %}"><--</a>
<h1>{{ team.name }}</h1>
<p>Payroll: ${{ team.payroll|intcomma }}</p>
<p>Over Cap: {{ team.is_over_cap }}</p>
<p>Payroll Available: ${{ team.payroll_available|intcomma }}</p>
<h2>Players</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Salary</th>
            <th>Position</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for player in team.players.all %}
        <tr>
            <td>{{ player.name }}</td>
            <td>${{ player.salary|intcomma }}</td>
            <td>{{ player.position }}</td>
            <td>
                <a href="{% url 'player_detail' player.id %}">View Player</a>
                <a href="{% url 'edit_player' player.id %}">Edit</a>
                <a href="{% url 'delete_player' player.id %}" >Remove</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h3>
    <a href="{% url 'create_player' %}">Add New Player</a>
</h3>