<a href="{% url 'home' %}">back</a>  <!-- Link to the homepage -->
<h1>Teams</h1>
{% if salary_cap %}
        <h2>Salary Cap: ${{ salary_cap }}</h2>
    {% else %}
        <h2>Salary Cap: Not Set</h2>
    {% endif %}
    <a href="{% url 'edit_salary_cap' %}">Edit Salary Cap</a>
<ul>
{% for team in teams %}
    <li>
        <a href="{% url 'team_detail' team.id %}">{{ team.name }}</a>
        <a href="{% url 'edit_team' team.id %}">Edit</a>
        <a href="{% url 'delete_team' team.id %}" onclick="return confirm('Are you sure?');">Delete</a>
    </li>
{% endfor %}
</ul>
<a href="{% url 'create_team' %}">Add New Team</a>